#div1{ 
	width:101%;
	height:17%;
	top: 83%;
	left:-1%;
	position:fixed;
	}
#divnave{
	width:15%;
	height:17%;
	top:8%;
	left:44%;
	position: fixed;
	}
#background{
	background-repeat:no-repeat;
	height:150px;
	width:150px;
	max-width: 100%;
	height: auto;
	background-size:cover;
	}
#texto{
	width:55%;
	height:55%;
	top:29%;
	left:23%;
	position: fixed;
	}
p{
color:#ffffb3;
text-align:center;
font-family:Verdana;
margin-top:3%;
font-size:1.3em;
margin-bottom:5%;	
	}