	#div1{ 
	width:101%;
	height:17%;
	top: 83%;
	left:-1%;
	position:fixed;
	}

	#div2{
	width:12%;
	height:7%;
	right:3%;
	bottom:90%;
	position:fixed;
	padding-bottom:0px;
	
	}

	#div3{
	width:27%;
	height:46%;
	left:1%;
	position:fixed;
	}

	#div4{
	bottom:8%;
	position:fixed;
	left:1.5%;
	width:6%;
	height:9%;
	}
	
	#div2:hover #div5{
		visibility:visible;
	}
	#div5:hover #div6{
		visibility:visible;
	}
	
	#div5{
	bottom:10%;
	position:fixed;
	left:16%;
	width:69%;
	height:80%;
	visibility:hidden;
	
	}
	
	#div6{
	background-color:blue;
	bottom:18%;
	position:fixed;
	height:35%;
	left:25%;
	font-variant:small-caps;
	padding: 8%;
	float: right;
    width: 35%;
    border: 7px solid #73AD21;
	line-height: 125%;
	visibility:hidden;
	}
	
	p{
		text-align: center;
		color:white;
		margin-top:14px;
		margin-bottom:7px;
		font-size:1.6em;
		
		/*font-weight: bold;*/
	}
	
	#divnave{
	width:6%;
	height:15%;
	top:5%;
	left:49%;
	position: fixed;
	
	
	/*right: 100px;
	top: 100px;
	/*right:50%;
	*/
	/*background-image:  url("nave.png");*/
	/* background-color: green; */
	}

	#background{
	background-repeat:no-repeat;
	height:150px;
	width:150px;
	max-width: 100%;
	height: auto;
	background-size:cover;
	}




		
		
		
		
	
